.container
  .row
    .col-md-6.col-md-offset-3
      %h3
        Edit Profile
      = image_tag @user.avatar if @user.avatar?
      = simple_form_for @user, :html => {:class => "form-group"} do |f|
        = f.input :name, :html => {:class => "form-control"}
        = f.input :intro, label: "自我介紹", :html => {:class => "form-control"}
        = f.input :avatar, label: "大頭照上傳", :html => {:class => "form-control"}

        = f.submit 'Update', class: "btn btn-primary"        
        = link_to 'Cancel', user_path(@user), class: "btn btn-default"