- @restaurants.each do |restaurant|
  %tr
    %th{:scope => 'row'}
      = restaurant.id
    %td
      [
      = restaurant.category.name
      ]
    %td
      = restaurant.name
    %td
      = link_to 'Show', admin_restaurant_path(restaurant)
      = link_to 'Edit', edit_admin_restaurant_path(restaurant)
      = link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" }