.container
  %h1 餐廳後台
  %div
    = link_to 'Restaurant', admin_restaurants_path
    |
    = link_to 'Categories', admin_categories_path
  
  .row
    .col-md-12.infinite-table
      %div
        = link_to 'New Restaurant', new_admin_restaurant_path, :class => "btn btn-primary"
      %br/
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
            %th
              Category
            %th
              Name
            %th
        %tbody
          = render 'restaurants', :object => @restaurants
      .text-center
        %p.pagination
          = link_to_next_page(@restaurants, 'Next Page', :remote => true)