%h1= @restaurant.name

Opening Hours:
= @restaurant.opening_hours
%br/
Tel:
= @restaurant.tel
%br/
Address:
= @restaurant.address
%br/
Description:
= @restaurant.description
%br/
= image_tag @restaurant.image, width: '600px'

%br/

= link_to 'Back to Index', admin_restaurants_path