.container
  .row
    %ul.nav.nav-tabs
      %li.active{:role => 'presentation'}
        = link_to '首頁', root_path
      %li{:role => 'presentation'}
        = link_to '最新動態', feeds_restaurants_path
%br/
.container
  .row
    %ul.nav.nav-pills.nav-pills-center
      %li.active{:role => 'presentation'}
        = link_to "全部餐廳", root_path
      - @categories.each do |category|
        %li{:role => 'presentation'}
          = link_to category.name, category_path(category)
    %br/
    = render 'shared/restaurant_list'