.container
  .row
    %ul.nav.nav-tabs
      %li{:role => 'presentation'}
        = link_to '首頁', root_path
      %li{:role => 'presentation'}
        = link_to '最新動態', feeds_restaurants_path
      %li.active{:role => 'presentation'}
        = link_to 'TOP10人氣餐廳', ranking_restaurants_path
%br/
.container
  .row
    .col-md-10.col-md-offset-1
      .page-header
        %h1
          TOP 10 人氣餐廳
          %small
            (收藏數最高)
      - @restaurants.each do |restaurant|
        .ranking-item
          .col-md-3
            = link_to restaurant_path(restaurant) do
              = image_tag restaurant.image, class: "img-responsive center-block"
          .col-md-9
            %h4
              = restaurant.name
              %span.label.label-default
                收藏數︰
                = restaurant.favorites_count
            %p= truncate(restaurant.description, length: 200)
            %div
              = link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary"
              = render 'shared/favorite', object: restaurant
          .clearfix