.container
  %h1 餐廳分類總表
  %div
    = link_to 'Restaurant', admin_restaurants_path
    |
    = link_to 'Categories', admin_categories_path
  
  .form-inline
    = simple_form_for [:admin, @category], :html => {:class => "form-group"} do |f|
      = f.input :name, placeholder: "Category Name", label: false, :html => {:class => "form-control"}

      = f.submit nil, class: "btn btn-primary"
  %br/

  .row
    .col-md-12
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
            %th
              Category Name
            %th
        %tbody
          - @categories.each do |category|
            %tr
              %th{:scope => "row"}
                = category.id
              %td
                = category.name
              %td
                = link_to 'Edit', admin_categories_path(id: category.id)
                |
                = link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" }